<div class="container my-5">
  <!-- ngIf -->
  <h2>ngIf Example</h2>
  <div *ngIf="true">Display this message.</div><hr>

  <!--ngIfElse-->
  <h3> nglfElse example!</h3>
    <div *ngIf="isLogIn; else isLogOut">Hello you are logged in</div>
    <ng-template #isLogOut> You're logged out. </ng-template><hr>

  <!--ngFor-->
  <h3>ngFor TrackBy example</h3>
  <ul>
    <li *ngFor="Let l of list">{{1}}</li>
    <li *ngFor="let std of studentArr; trackBy: trackByData">{{std.name}}</li>
  </ul>
  <hr>

  <!--ngFor Directive (List Item)-->
  <h3 class="p-3 text-center">Angular - Display a list items with ngFor</h3>
  <div class="container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of employee">
            <td> {{user.firstname}} {{user.lastname}} </td>
            <td> {{user.email}} </td>
            <td> {{user.role}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>

  <!--ngSwitch Directive -->
  <h3>ngSwitch Directive</h3>
  <ul [ngSwitch]="logInName">
    <li *ngSwitchCase="'user'"><p>User is logged in..</p></li>
    <li *ngSwitchCase="'admin'"><p>Admin is logged in.</p></li>
    <li *ngSwitchDefault><p>Please choose login name</p></li>
  </ul>
</div>