<div class="container my-5">
  <h2>Angular Pipes</h2>
  <hr class="mb-5">

  <!-- Standard Date -->
  <div class="mt-4">
    <b>Standard Date</b><br/>
    Today's Date:- {{ presentDate }}
  </div>

  <!-- Adding Date Pipe -->
  <div class="mt-4">
    <b>Adding Date Pipe</b><br/>
    Today's Date:- {{ presentDate | date }}
  </div>

  <!-- Parameters in Date -->
  <div class="mt-4">
    <b>Date Parameters</b><br/>
    This is a short date:- {{ presentDate | date:'shortDate' }} <br/>
    This line shows the full date:- {{ presentDate | date:'fullDate'}} <br/>
    This will show a formatted date:- {{ presentDate | date:'M/dd/yyyy' }} <br/>
    This indicates the hours and minutes:- {{ presentDate | date:'h:mm' }} <br/>
    <em>Tan, Mark Christian | WD-302</em>
  </div>

  <!-- Chained Pipe -->
  <div class="mt-4">
    <b>Chaining Date Pipe</b><br/>
    Date with uppercase:- {{ presentDate | date:'fullDate' | uppercase }} <br/>
    Date with lowercase:- {{ presentDate | date:'medium' | lowercase }}
  </div>

  <!-- Async Pipe -->
  <div class="mt-4">
    <b>Async Pipe</b><br/>
    observable | async: Time: {{ time | async }}
  </div>

  <!-- Currency Pipe -->
  <div class="mt-4">
    <b>Currency Pipe</b><br/>
    USD (Default) : {{ price | currency:'':true }} <br/>
    INR : {{ price | currency:'INR' }} <br/>
    PHP : {{ price | currency:'PHP' }} <br/>
    KRW : {{ price | currency:'KRW' }} <br/>
    EUR : {{ price | currency:'EUR' }} <br/>
  </div>
</div>
