<div class="container my-5">
  <h2>Angular Pipes</h2>
  <hr class="mb-5">

  <!-- Standard Date -->
  <div class="mt-4">
    <b>Standard Date</b><br/>
    Today's Date:- {{ presentDate }}
  </div>

  <!-- Adding Date Pipe -->
  <div class="mt-4">
    <b>Adding Date Pipe</b><br/>
    Today's Date:- {{ presentDate | date }}
  </div>

  <!-- Parameters in Date -->
  <div class="mt-4">
    <b>Date Parameters</b><br/>
    This is a short date:- {{ presentDate | date:'shortDate' }} <br/>
    This line shows the full date:- {{ presentDate | date:'fullDate'}} <br/>
    This will show a formatted date:- {{ presentDate | date:'M/dd/yyyy' }} <br/>
    This indicates the hours and minutes:- {{ presentDate | date:'h:mm' }} <br/>
    <em>Tan, Mark Christian | WD-302</em>
  </div>

  <!-- Chained Pipe -->
  <div class="mt-4">
    <b>Chaining Date Pipe</b><br/>
    Date with uppercase:- {{ presentDate | date:'fullDate' | uppercase }} <br/>
    Date with lowercase:- {{ presentDate | date:'medium' | lowercase }}
  </div>

  <!-- Async Pipe -->
  <div class="mt-4">
    <b>Async Pipe</b><br/>
    observable | async: Time: {{ time | async }}
  </div>

  <!-- Currency Pipe -->
  <div class="mt-4">
    <b>Currency Pipe</b><br/>
    USD (Default) : {{ price | currency:'':true }} <br/>
    INR : {{ price | currency:'INR' }} <br/>
    PHP : {{ price | currency:'PHP' }} <br/>
    KRW : {{ price | currency:'KRW' }} <br/>
    EUR : {{ price | currency:'EUR' }} <br/>
  </div>

  <!-- Slice Pipe -->
  <div class="mt-4">
    <b>Slice Pipe</b><br/>
    Start index :- {{ Fruits | slice:2 }} <br/>
    Start and end index :- {{ Fruits | slice:1:4 }} <br/>
    Negative index :- {{ Fruits | slice:-2 }} <br/>
    Negative start and end index :- {{ Fruits | slice:-4:-2 }} <br/>
  </div>

  <!-- Decimal Pipe -->
  <div class="mt-4">
    <b>Decimal Pipe</b><br/>
    Decimal No. 1 (Default): {{ decimalNum1 | number }} <br/>
    Decimal No. 2 (Default): {{ decimalNum2 | number }} <br/><br/>
    Decimal No. 1 (Formatting applied): {{ decimalNum1 | number:'3.1' }} <br/>
    Decimal No. 2 (Formatting applied): {{ decimalNum2 | number:'2.1-4' }} <br/>
  </div>

  <!-- Percent Pipe -->
  <div class="mt-4">
    <b>Percent Pipe</b><br/>
    1. {{ num1 | percent }} <br/>
    2. {{ num2 | percent:'4.3-5' }} <br/>
    2.1 {{ num2 | percent:'4.3-5':'fr' }} <br/>
  </div>
</div>
