<div class="container" style="margin-top:7rem; padding-top: 7rem;">
  <div class="row">
    <div class ="col mx-auto d-block">
      <ul class="list-group">
        <p class="display-5 fw-bolder">Contact</p>
        <li class="list-group-item border-0">
          <p class="fw-bold">Address:</p>
          <p class="contact-details">Cutcut, Angeles City, Pampanga, Philippines</p>
        </li>
        <li class="list-group-item border-0">
          <p class="fw-bold">Phone:</p>
          <p class="contact-details">+63 976 051 2437</p>
        </li>
        <li class="list-group-item border-0">
          <p class="fw-bold">Sale Support:</p>
          <p class="contact-details">eshop@support.com</p>
        </li>
      </ul>
    </div>
    <div class ="col mx-auto d-block">
      <ul class="list-group">
        <li class="list-group-item">
          <h5>Send us a message.</h5>
        </li>
        <li class="list-group-item">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Name (required)</label>
              <input type="name" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Email (required)</label>
              <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Message</label>
              <textarea class="form-control" placeholder="Your message here..."></textarea>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>