<!-- HOME SECTION -->
<div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <!-- CAROUSEL -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./../../assets/images/slide-03.jpg" class="d-block w-100" height="840">
      <div class="container">
        <div class="carousel-caption text-start" style="bottom: 17rem; color: black;">
          <div class="row">
            <div class="col-lg-6">
              <h5 class="fw-bold lh-1 mb-4">Newest Collection 2022</h5>
              <h1 class="display-2 fw-bold lh-1 mb-4">Shop Comfort</h1>
              <p>Wear that comfort wherever, whenever you go.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-dark btn-lg px-4">Shop Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./../../assets/images/slide-01.jpg" class="d-block w-100" height="840">
      <div class="container">
        <div class="carousel-caption text-start" style="bottom: 17rem; color: black;">
          <div class="row">
            <div class="col-lg-6">
              <h5 class="fw-bold lh-1 mb-4">Shoes Collection</h5>
              <h1 class="display-2 fw-bold lh-1 mb-4">LifeWear</h1>
              <p>Wear that comfort wherever, whenever you go.
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn btn-dark btn-lg px-4">Shop Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./../../assets/images/slide-02.jpg" class="d-block w-100" height="840">
      <div class="container">
        <div class="carousel-caption text-start" style="bottom: 17rem; color: black;">
          <div class="row">
            <div class="col-lg-6">
              <h5 class="fw-bold lh-1 mb-4">Linen Collection 2022</h5>
              <h1 class="display-2 fw-bold lh-1 mb-4">Summer Comfort</h1>
              <p>Cool & breezy styles with linen fabric.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn btn-dark btn-lg px-4">Shop Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CAROUSEL BUTTONS -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>