<div class="container-fluid p-0 position-relative" style="margin-top:6rem;">
  <img src="../../assets/images/bg-01.jpg" alt="Banner" class="w-100" height="250">
  <div class="container position-absolute top-50 start-50 translate-middle">
    <h1 class="display-5 fw-bolder text-white">About</h1>
    <p class="text-white">eShop is a new Philippine based e-Commerce website.</p>
  </div>
</div>
<div class="container mt-5">
  <div class="row ">
    <div class="col-lg-7 align-self-center">
      <h4 class="fw-bolder">Our Goal</h4><hr>
      <p style="line-height: 2;">
        Our purpose at eShop is to empower people to lead bold and full lives. We believe that if you look good, you feel good. And when you feel good you can do good for others around you. eShop brings you a wide range of trendy styles, and beautiful design all at affordable prices to make them accessible to you.
      </p>
    </div>
    <div class="col-lg-5 d-flex justify-content-center position-relative">
      <img src="../../assets/images/about.jpg" width="400" style="z-index: 99;">
      <div class="border border-dark position-absolute img-border"></div>
    </div>
  </div>
</div>